/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffaf3;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sección izquierda */
.welcome-section {
    flex: 1;
    background-color: #f7931e;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 40px;
}

.welcome-section h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.welcome-section p {
    font-family: 'Playball', cursive;
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 40px;
}

.btn-iniciar {
    background-color: #f6a623;
    border: 1px solid #d16a00;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-iniciar:hover {
    background-color: #e48f00;
}

/* Sección derecha */
.register-section {
    flex: 1;
    background-color: #fffaf3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-section h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #000;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.btn-registrarse {
    background-color: #7a3cff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-registrarse:hover {
    background-color: #5f2ccf;
}
