/* ----- ENCABEZADO ----- */
.header {
    background-color: #f39c12;
    padding: 30px;
    text-align: center;
    position: relative;
}

.publicado {
    position: absolute;
    left: 25px;
    top: 15px;
    font-weight: bold;
}

.titulo {
    font-size: 80px;
    margin: 0;
    font-weight: 900;
}

/* Ícono del menú */
.menu-toggle {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


/* ----- MENÚ DESPLEGABLE ----- */
.menu-desplegable {
    position: absolute;
    top: 90px;
    right: 25px;
    width: 260px;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px #00000050;
    display: none;
    font-size: 18px;
    z-index: 1000;
}

.menu-desplegable h3 {
    margin: 10px 0 5px;
    font-weight: bold;
}

.menu-desplegable ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 15px;
}

.menu-desplegable li {
    margin-bottom: 10px;
}

/* Botones del menú */
.menu-desplegable a {
    display: block;
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: 0.2s;
}

/* Hover de botones */
.menu-desplegable a:hover {
    background-color: #d5d5d5;
}


/* ----- ICONOS ----- */
.iconos-acciones {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 35px;
}

/* ----- TITULAR ----- */
.titular {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-top: 10px;
}

/* ----- IMAGEN PRINCIPAL ----- */
.imagen-principal {
    display: block;
    margin: 20px auto;
    width: 75%;
    max-width: 900px;
}

/* ----- TEXTO ----- */
.texto {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
}
